.table {
  border: 1px solid #994747;
  margin-bottom: 1rem;
}

.headerRow {
  background-color: #994747;
  color: #fff;
}

.headerCell {
  padding: 0.5rem;
  text-align: center;
}

.cell {
  padding: 0.5rem;
  border: 1px solid #994747;
  vertical-align: top;
}
