.examples {
  margin: 0;
  padding: 0 0 0.5rem 2rem;
  text-indent: 0;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  .examples {
    padding-left: 0.5rem;
  }
}

.paragraph {
  margin-bottom: 0;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  justify-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 768px) {
  .gridContainer {
    gap: 0.3rem;
  }
}
