.title {
  display: flex;
  flex-direction: column;
}

.table {
  table-layout: fixed;
  border: 1px solid #994747;
  margin: 1rem 0 2rem;
}

.tableWithoutBorder {
  border: none;
}

.tableLayoutAuto {
  table-layout: auto;
}

.headerRow {
  background-color: #994747;
  color: #fff;
}

.headerCell {
  padding: 0.5rem;
  text-align: center;
  font-weight: normal;
}

.headerCellStart {
  text-align: start;
}

.headerFirstCell {
  border-right: 1px solid #fff;
  border-bottom: none;
}

.headerCellBorderLeft {
  border-left: 1px solid #fff;
}

.headerCellBorderBottom {
  border-bottom: 1px solid #fff;
}

.headerCellNoRight {
  border-right: none;
  border-left: 1px solid #fff;
}

.secondRowCell {
  border-bottom: none;
}

.cell {
  padding: 0.5rem;
  border: 1px solid #994747;
  vertical-align: top;
}

.cellWithoutBorder {
  border: none;
}

.cellColorized {
  color: #994747;
}

.cellItalic {
  font-style: italic;
}

.textCenter {
  text-align: center;
}
