:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --thead-bg: #994747;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  margin-bottom: 1rem;
  text-indent: 1em;
}

p {
  margin-bottom: 1rem;
  text-indent: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

thead {
  background: var(--thead-bg);
}

th {
  padding: 4px;
}

td {
  padding: 6px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
