:root {
  --background: #ffffff;
  --foreground: #171717;

  --thead-bg: #994747;

  --tab-inactive: rgba(0, 0, 0, 0.6);
  --tabs-container-bg: rgba(255, 255, 255, 0.08);
  --tabs-border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  --gradient-start: rgba(255, 255, 255, 0.35);
  --gradient-center: rgba(255, 255, 255, 0.4);
  --gradient-mid: rgba(255, 255, 255, 0.85);
  --gradient-edge: rgba(255, 255, 255, 1);

  --input-focus-bg: rgb(238, 238, 238);

  --divider: 1px solid rgba(0, 0, 0, 0.3);

  --oval-loader: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #000;
    --foreground: #ededed;

    --thead-bg: #994747;

    --tab-inactive: rgba(255, 255, 255, 0.8);
    --tabs-container-bg: rgba(0, 0, 90, 0.08);
    --tabs-border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    --gradient-start: rgba(0, 0, 0, 0.35);
    --gradient-center: rgba(0, 0, 0, 0.4);
    --gradient-mid: rgba(0, 0, 0, 0.9);
    --gradient-edge: rgba(0, 0, 0, 1);

    --input-focus-bg: rgb(35, 35, 35);

    --divider: 1px solid rgba(255, 255, 255, 0.3);

    --oval-loader: #fff;
  }
}

html {
  font-size: 18px; /* desktop */
}

@media (max-width: 900px) {
  html {
    font-size: 16px; /* tablet 16*/
  }
}

@media (max-width: 600px) {
  html {
    font-size: 16px; /* large phones 15*/
  }
}

@media (max-width: 400px) {
  html {
    font-size: 16px; /* small screens 14*/
  }
}

html,
body {
  width: 100%;
  max-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: bold;
}

h2,
h3,
h4 {
  padding: 1.5rem 0 1rem 0;
  text-indent: 1em;
}

h1 {
  margin-bottom: 1.5rem;
  text-indent: 1em;
}

p {
  text-indent: 20px;
  line-height: 1.5;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li::marker {
  color: #994747;
}

/* thead {
  background: var(--thead-bg);
} */

span:not(.sentence-number) {
  color: rgb(196, 86, 86);
}

.sentence-number {
  color: inherit;
}

th {
  padding: 4px;
  font-size: 12px;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  th {
    font-size: 16px;
  }
}

td {
  padding: 4px;
  font-size: 12px;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  td {
    font-size: 16px;
  }
}

td,
th {
  white-space: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
