.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-roboto);
  /* display: flex; */
  display: block;
  flex-direction: column;
  /* min-height: 0; */
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;

    /* min-height: 0; */
  }
}

.main {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 150px;
  height: auto;
  /* min-height: 0; */
  flex: 1;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.lesson {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 24px 0;
  text-align: center;
  opacity: 0.6;
}

.lessonCompletion {
  margin: 3rem 0 2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
}

.lessonCompletion.visible {
  opacity: 0.6;
  transform: translateY(0);
}

@media (max-width: 900px) {
  .main {
    max-width: 850px;
    padding: 0 24px;
  }
}

@media (max-width: 400px) {
  .main {
    max-width: 368px;
    padding: 0 16px;
  }
}
