.table {
  border: 2px solid var(--thead-bg);
  background-color: #ebb2b2;
  margin: 0 0 4rem 0;
}

.leftCell {
  width: 25%;
  background-color: #ebb2b2;
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 2px solid var(--thead-bg);
  vertical-align: middle;
  text-align: center;
  color: #994747;
}

.rightCell {
  padding: 1rem;
  vertical-align: top;
}

.cell p {
  color: #333;
  text-indent: 0;
}

.flexList {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* margin: 1rem 0; */

  justify-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 768px) {
  .gridContainer {
    gap: 0.3rem;
  }
}
