.buttonContainer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.outlinedButtonContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  justify-content: flex-start;
}

.exerciseButton {
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #994747;
  transition:
    background-color 0.2s,
    opacity 0.2s;
  cursor: pointer;
}

.outlinedButton {
  min-width: 80px;
  background-color: transparent;
  border: 1px solid #994747;
}

.exerciseButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
