.tabsContainer {
  overflow: hidden;
  position: relative;
  z-index: 105;
  pointer-events: auto;
}

.tabsContainer::-webkit-scrollbar {
  display: none;
}

.swiper {
  padding-top: 10px;
  border-bottom: var(--tabs-border-bottom);
  width: 100%;
  height: auto;
}

.swiperSlide {
  width: auto;
  min-width: 120px;
  height: 100%;
  flex-shrink: 0;
}

.tab {
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 120px;
  position: relative;
  user-select: none;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
  color: var(--tab-inactive);
  border-bottom: 2px solid transparent;
}

.wrapper {
  width: 20px;
  will-change: transform;
  transform: translateZ(0);
}
