.tabsContainer {
  overflow: hidden;
  position: relative;
  z-index: 105;
  pointer-events: auto;
}

.tabsContainer::-webkit-scrollbar {
  display: none;
}

.swiper {
  padding-top: 10px;
  border-bottom: var(--tabs-border-bottom);
  width: 100%;
  height: auto;
}

.swiperSlide {
  width: auto;
  min-width: 80px;
  height: 100%;
  flex-shrink: 0;
}

.tab {
  background: transparent;
  border: none;
  padding: 0.5rem 1.3rem 1rem 1.3rem;
  cursor: pointer;
  color: var(--tab-inactive);
  border-bottom: 2px solid transparent;
}
